




*, *:before, *:after {
             
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}





.banner-wapper
{
    
    display: none;
    /* background: linear-gradient(25deg,#53ee74,#cc0f0f,#53ee74); */
    background-color: #47d492;
    width: 100%;
    /* height: 150vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    
}

.main-banner
{
    
    position: relative;
    width: 80%;
    padding: 20px;
    background-color: #11142e;
    top: 140px;
    /* left: 5%; */
    text-align: center;
    backdrop-filter: blur(5px) ;
    -webkit-backdrop-filter: blur(5px);
    filter: hue-rotate(240deg);
    border-radius: 5px;
    box-shadow: -1px -1px 3px 1px #00000046,
                inset 0px 0px 5px 2px #00000017;
    
     filter: drop-shadow(1px 1px 0px #00000071);


     
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;  
    
}
.sudipta
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url("../photo/sudipta.jpg");
    margin-right: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner h1 
{
    text-transform: uppercase;
    background: linear-gradient(60deg,#70a786,#79ac47,#70a786);
}
/* .main-banner h3 
{
    background: linear-gradient(30deg,#9cdfb8,#79ac47,#9cdfb8);
    
    margin-top: 20px;
    margin-bottom: 10%;
} */
.main-banner h3,.main-banner h1
{
    display: inline-block;
    
    color: transparent;
    
    filter: hue-rotate(240deg);
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px 2px #463f3f94);
}
.image-continer
{
    position: relative;
    margin-top: 280px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #11142e;
    /* filter: blur(25px); */
    border-radius: 5px;
}
.image-continer div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image-continer div div
{
    
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: #62cc794b;
    border: 1px solid #6d8297;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
.image-continer div div:hover
{
    filter: drop-shadow(1px 1px 5px #00000094) brightness(110%);
    transform: scale(1.02);
    transition: 0.3s;
}
.image-continer div div h2
/* {
    margin-bottom: 20px;
    text-transform: uppercase;
    background: linear-gradient(var(--i),#ff9fe1b7 0%,#8827ffaf 100%);
    color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(1px 1px 2px #00000094) brightness(150%);


} */
.image-continer div div img
{
    
    z-index: 1;
    height: 200px;
    width: 200px;
    margin: 30px;
    
}

