%h1 CSS 3D music visualization using D3.js
%div.space3d
  - (1..15).each do |i|
    %div._3dbox
      %div._3dface._3dface--front
      %div._3dface._3dface--back
      %div._3dface._3dface--left
      %div._3dface._3dface--right
      %div._3dface._3dface--top
      %div._3dface._3dface--bottom

<br><br><br><br>
An accident by <a href="https://twitter.com/chinchang457">Kushagra Gour</a>